
<div class="card mx-auto bg-dark" style="width: 18rem;" >
  <img src="https://png.pngtree.com/element_origin_min_pic/00/00/06/12575cb97a22f0f.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tienes cuenta?</h5>
 <div>
    <form id="formulario" method="POST" action="/api/sessions/registro">
        <ul>
            <label for="first_name">Nombre: </label>
            <input type="text" id="first_name" name="first_name">
        </ul>
        <ul>
            <label for="last_name">Apellido: </label>
            <input type="text" id="last_name" name="last_name">
        </ul>
        <ul>
            <label for="email">email: </label>
            <input type="text" id="email" name="email">
        </ul>
        <ul>
            <label for="age">Edad: </label>
            <input type="text" id="age" name="age">
        </ul>        
        <ul>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password">
        </ul>
        <ul class="button">
            <button class="btn btn-primary"type="submit">Registrar</button>
        </ul>
    </form>
</div>



</div>